<h1 class="main-title">Información</h1>
<section>
    <p>Argumentos de entrada: {{ars}}</p><br>
    <p>Path de ejecución: {{path}}</p><br>
    <p>Nombre de la plataforma (sistema operativo): {{plataforma}}</p><br>
    <p>Process id: {{process_id}}</p><br>
    <p>Versión de node.js: {{version_node}}</p><br>
    <p>Carpeta del proyecto: {{carpeta}}</p><br>
    <p>Memoria total reservada (rss): {{memoria_reservada}}</p><br>
</section>